<template>
  <div id="add-post">
    <h2>Add a new post.</h2>

    <form v-if="! published">
      <label for="title">Title:</label>
      <input type="text" id="title" v-model.lazy="post.title" required>

      <label for="content">Content:</label>
      <textarea id="content" v-model.lazy="post.content"></textarea>

      <div id="categories">
        <label for="one">One</label>
        <input type="checkbox" id="one" value="one" v-model="post.categories">

        <label for="two">Two</label>
        <input type="checkbox" id="two" value="two" v-model="post.categories">

        <label for="three">Three</label>
        <input type="checkbox" id="three" value="three" v-model="post.categories">

        <label for="four">Four</label>
        <input type="checkbox" id="four" value="four" v-model="post.categories">
      </div>

      <label for="author">Author:</label>
      <select id="author" v-model="post.author">
        <option v-for="(author, index) in authors" :key="index">{{ author }}</option>
      </select>

      <button @click.prevent="publish">Publish</button>
    </form>

    <div v-if="published">
      <h3>Published</h3>
    </div>

    <div id="post-preview">
      <h3>Preview</h3>
      <p>Title: {{ post.title }}</p>
      <p>Content:</p>
      <p>{{ post.content }}</p>
      <p>Categories:</p>
      <ul>
        <li v-for="(category, index) in post.categories" :key="index">{{ category }}</li>
      </ul>
      <p>Author: {{ post.author }}</p>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data: function () {
    return {
      post: {
        title: '',
        content: '',
        categories: [],
        author: ''
      },
      authors: ['One', 'Two', 'Three'],
      published: false
    }
  },
  methods: {
    publish: function () {
      axios
        .post('https://vue-blog-446e6.firebaseio.com/posts.json', this.post)
        .then(response => { this.published = true })
        .catch(error => console.error(error))
    }
  }
}
</script>

<style>
#add-post *{
  box-sizing: border-box;
}

#add-post {
  margin: 20px auto;
  max-width: 500px;
}

label {
  display: block;
  margin: 20px 0 10px;
}

input[type="text"], textarea {
  display: block;
  width: 100%;
  padding: 8px;
}

#preview {
  padding: 10px 20px;
  border: 1px dotted #ccc;
  margin: 30px 0;
}

h3 {
  margin-top: 10px;
}

#categories input {
  display: inline-block;
  margin-right: 10px;
}

#categories label {
  display: inline-block;
}
</style>
