<template>
  <div id="index-posts">
    <h1>All posts</h1>

    <input type="text" v-model="search" placeholder="Search posts">

    <div class="post" v-for="(post, index) in filteredPosts" :key="index">
      <router-link :to="'blog/' + post.id">
        <h2>{{ post.title | capitalize }}</h2>
      </router-link>

      <article>{{ post.content | shorten }}</article>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import searchMixin from '../mixins/searchMixin'

export default {
  data: function () {
    return {
      posts: [],
      search: ''
    }
  },
  created: function () {
    axios
      .get('https://vue-blog-446e6.firebaseio.com/posts.json')
      .then(response => {
        let posts = response.data
        let postsArray = []

        for (const documentName in posts) {
          if (posts.hasOwnProperty(documentName)) {
            posts[documentName].id = documentName
            postsArray.push(posts[documentName])
          }
        }

        this.posts = postsArray
      })
  },
  filters: {
    shorten: function (value) {
      return value.slice(0, 100) + '...'
    }
  },
  directives: {
    rainbow: {
      bind: function (el, binding, vnode) {
        el.style.color = '#' + Math.random().toString().slice(2, 8)
      }
    }
  },
  mixins: [searchMixin]
}
</script>

<style>
#index-posts {
  max-width: 800px;
  margin: 0 auto;
}

.post {
  padding: 20px;
  margin: 20px 0;
  box-sizing: border-box;
  background: #eee;
}
</style>
