<template>
  <div id="show-post">
    <h1>{{ post.title }}</h1>
    <article>{{ post.content }}</article>
    <p>Author: {{ post.author }}</p>
    <ul>
      <li v-for="(category, index) in post.categories" :key="index">{{ category }}</li>
    </ul>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data: function () {
    return {
      id: this.$route.params.id,
      post: {}
    }
  },
  created: function () {
    axios
      .get('https://vue-blog-446e6.firebaseio.com/posts/' + this.id + '.json')
      .then(response => { this.post = response.data })
  }
}
</script>

<style>
#show-post {
  max-width: 960px;
  margin: 0 auto;
}
</style>
