<template>
  <div>
    <app-header></app-header>
    <router-view></router-view>
  </div>
</template>

<script>
import Header from './components/Header.vue'
import ShowPost from './components/ShowPost.vue'
import CreatePost from './components/CreatePost.vue'
import IndexPosts from './components/IndexPosts.vue'

export default {
  components: {
    'app-header': Header,
    'show-post': ShowPost,
    'create-post': CreatePost,
    'index-posts': IndexPosts
  }
}
</script>

<style>
body {
  margin: 0;
}
</style>
