#bag {
    background: url('img/bag.png') center no-repeat;
    background-size: 80%;
    height: 500px;
    margin: 0 auto;    
    width: 200px;
}

#bag.burst {
    background: url('img/bag-burst.png') center no-repeat;
    background-size: 80%;
}

#bag-health {
    border: 2px solid black;
    margin: 0 auto 20px auto;
    width: 200px;
}

#bag-health div {
    height: 20px;
    background: crimson;
}

#controls {
    width: 120px;
    margin: 0 auto;
}